
.vs/Project_IAP/v16/.suo
Project_IAP/appsettings.json
Project_IAP/Migrations/20200502063146_AddallTable.Designer.cs
Project_IAP/Migrations/20200502063146_AddallTable.cs
Client/obj/Debug/netcoreapp2.1/Client.AssemblyInfo.cs
Client/obj/Debug/netcoreapp2.1/Client.AssemblyInfoInputs.cache
Client/obj/Debug/netcoreapp2.1/Client.csprojAssemblyReference.cache
Client/obj/Debug/netcoreapp2.1/Client.RazorAssemblyInfo.cache
Client/obj/Debug/netcoreapp2.1/Client.RazorAssemblyInfo.cs
Project_IAP/obj/Debug/netcoreapp2.1/Project_IAP.AssemblyInfo.cs
Project_IAP/obj/Debug/netcoreapp2.1/Project_IAP.AssemblyInfoInputs.cache
Project_IAP/obj/Debug/netcoreapp2.1/Project_IAP.csprojAssemblyReference.cache
Project_IAP/obj/Debug/netcoreapp2.1/Project_IAP.RazorAssemblyInfo.cache
Project_IAP/obj/Debug/netcoreapp2.1/Project_IAP.RazorAssemblyInfo.cs
.vs/Project_IAP/config/applicationhost.config
.vs/Project_IAP/DesignTimeBuild/.dtbcache.v2
Client/bin/Debug/netcoreapp2.1/appsettings.Development.json
Client/bin/Debug/netcoreapp2.1/appsettings.json
Client/bin/Debug/netcoreapp2.1/Client.deps.json
Client/bin/Debug/netcoreapp2.1/Client.dll
Client/bin/Debug/netcoreapp2.1/Client.pdb
Client/bin/Debug/netcoreapp2.1/Client.runtimeconfig.dev.json
Client/bin/Debug/netcoreapp2.1/Client.runtimeconfig.json
Client/bin/Debug/netcoreapp2.1/Client.Views.dll
Client/bin/Debug/netcoreapp2.1/Client.Views.pdb
Client/bin/Debug/netcoreapp2.1/Project_IAP.dll
Client/bin/Debug/netcoreapp2.1/Project_IAP.pdb
Client/bin/Debug/netcoreapp2.1/Properties/launchSettings.json
Client/Controllers/EmpInterviewController.cs
Client/Controllers/InterviewController.cs
Client/Controllers/PlacementController.cs
Client/obj/Debug/netcoreapp2.1/Client.assets.cache
Client/obj/Debug/netcoreapp2.1/Client.csproj.CopyComplete
Client/obj/Debug/netcoreapp2.1/Client.csproj.CoreCompileInputs.cache
Client/obj/Debug/netcoreapp2.1/Client.csproj.FileListAbsolute.txt
Client/obj/Debug/netcoreapp2.1/Client.dll
Client/obj/Debug/netcoreapp2.1/Client.genruntimeconfig.cache
Client/obj/Debug/netcoreapp2.1/Client.pdb
Client/obj/Debug/netcoreapp2.1/Client.RazorCoreGenerate.cache
Client/obj/Debug/netcoreapp2.1/Client.RazorTargetAssemblyInfo.cache
Client/obj/Debug/netcoreapp2.1/Client.RazorTargetAssemblyInfo.cs
Client/obj/Debug/netcoreapp2.1/Client.TagHelpers.input.cache
Client/obj/Debug/netcoreapp2.1/Client.TagHelpers.output.cache
Client/obj/Debug/netcoreapp2.1/Client.Views.dll
Client/obj/Debug/netcoreapp2.1/Client.Views.pdb
Client/obj/Debug/netcoreapp2.1/Razor/Views/_ViewImports.cshtml.g.cs
Client/obj/Debug/netcoreapp2.1/Razor/Views/_ViewStart.cshtml.g.cs
Client/obj/Debug/netcoreapp2.1/Razor/Views/Company/Index.cshtml.g.cs
Client/obj/Debug/netcoreapp2.1/Razor/Views/Home/About.cshtml.g.cs
Client/obj/Debug/netcoreapp2.1/Razor/Views/Home/Contact.cshtml.g.cs
Client/obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.cshtml.g.cs
Client/obj/Debug/netcoreapp2.1/Razor/Views/Home/Privacy.cshtml.g.cs
Client/obj/Debug/netcoreapp2.1/Razor/Views/Interview/Index.cshtml.g.cs
Client/obj/Debug/netcoreapp2.1/Razor/Views/Layouts/Layout.cshtml.g.cs
Client/obj/Debug/netcoreapp2.1/Razor/Views/Placement/Index.cshtml.g.cs
Client/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.cshtml.g.cs
Client/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.cshtml.g.cs
Client/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
Client/obj/Debug/netcoreapp2.1/Razor/Views/Shared/Error.cshtml.g.cs
Client/obj/project.nuget.cache
Client/Startup.cs
Client/Controllers/EmpInterviewController.cs
Client/Controllers/InterviewController.cs
Client/obj/Debug/netcoreapp2.1/Client.assets.cache
Client/obj/Debug/netcoreapp2.1/Client.csproj.FileListAbsolute.txt
Client/obj/Debug/netcoreapp2.1/Client.Views.dll
Client/Startup.cs
Client/Startup.cs
Client/Controllers/EmpInterviewController.cs
Client/Controllers/InterviewController.cs
Project_IAP/bin/Debug/netcoreapp2.1/appsettings.Development.json
Project_IAP/bin/Debug/netcoreapp2.1/appsettings.json
Project_IAP/bin/Debug/netcoreapp2.1/Project_IAP.deps.json
Project_IAP/bin/Debug/netcoreapp2.1/Project_IAP.dll
Project_IAP/bin/Debug/netcoreapp2.1/Project_IAP.pdb
Project_IAP/bin/Debug/netcoreapp2.1/Project_IAP.runtimeconfig.dev.json
Project_IAP/bin/Debug/netcoreapp2.1/Project_IAP.runtimeconfig.json
Project_IAP/bin/Debug/netcoreapp2.1/Properties/launchSettings.json
Project_IAP/Controllers/ContractController.cs
Project_IAP/Controllers/PlacementController.cs
Project_IAP/Migrations/20200502071947_AddallTable.cs
Project_IAP/Migrations/20200502071947_AddallTable.Designer.cs
Project_IAP/obj/Debug/netcoreapp2.1/Project_IAP.RazorTargetAssemblyInfo.cache
Project_IAP/obj/Debug/netcoreapp2.1/Project_IAP.pdb
Project_IAP/obj/Debug/netcoreapp2.1/Project_IAP.genruntimeconfig.cache
Project_IAP/obj/Debug/netcoreapp2.1/Project_IAP.dll
Project_IAP/obj/Debug/netcoreapp2.1/Project_IAP.csproj.FileListAbsolute.txt
Project_IAP/obj/Debug/netcoreapp2.1/Project_IAP.csproj.CoreCompileInputs.cache
Project_IAP/obj/Debug/netcoreapp2.1/Project_IAP.csproj.FileListAbsolute.txt
Project_IAP/obj/Debug/netcoreapp2.1/Project_IAP.csproj.FileListAbsolute.txt
Project_IAP/obj/project.nuget.cache
Project_IAP/obj/Debug/netcoreapp2.1/Project_IAP.assets.cache
