
.vs/Project_IAP/v16/.suo
Client/obj/Debug/netcoreapp2.1/Client.AssemblyInfo.cs
Client/obj/Debug/netcoreapp2.1/Client.AssemblyInfoInputs.cache
Client/obj/Debug/netcoreapp2.1/Client.csprojAssemblyReference.cache
Client/obj/Debug/netcoreapp2.1/Client.RazorAssemblyInfo.cache
Client/obj/Debug/netcoreapp2.1/Client.RazorAssemblyInfo.cs
Project_IAP/obj/Debug/netcoreapp2.1/Project_IAP.csprojAssemblyReference.cache
