.vs/
.vscode/
bin/
obj/
Client/appsettings.json
Client/appsettings.Development.json
Client/Client.csproj
Client/Client.csproj.user
Client/Startup.cs
Client/Program.cs
Project_IAP/Program.cs
Project_IAP/Migrations/MyContextModelSnapshot.cs
Project_IAP.sln
Project_IAP/appsettings.Development.json
Project_IAP/appsettings.json
