
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layouts/Layout.cshtml";
}

<div class="d-flex justify-content-between">
    <h2>Interview</h2>
    <button class="btn pull-right hidden-sm-down btn-success" id="BtnAdd" data-toggle="modal" data-target="#myModal"><i class="mdi mdi-plus-circle"></i> Create</button>
</div>

<div class="table-responsive m-t-40">
    <table id="Interview" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Company Name</th>
                <th>Division</th>
                <th>Job Desk</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Exp</th>
                <th>Educ</th>
                <th>Interview Date</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
<!-- Modal content-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Add Department</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="Id">
                    </div>
                    <div class="form-group">
                        <label for="Title">Title :</label>
                        <input class="form-control" id="Title" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="CompanyOption">Company Name :</label>
                        <div class="form-group">
                            <select class="form-control" id="CompanyOption"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Division">Division :</label>
                        <input class="form-control" id="Division" placeholder="Division">
                    </div>
                    <div class="form-group">
                        <label for="JobDesk">Job Desk :</label>
                        <input class="form-control" id="JobDesk" placeholder="Job Desk">
                    </div>
                    <div class="form-group">
                        <label for="Address">Address :</label>
                        <input class="form-control" id="Address" placeholder="Address">
                    </div>
                    <div class="form-group">
                        <label for="Gender">Gender :</label>
                        <div class="form-group">
                            <select class="form-control" id="Gender">
                                <option>Semua Jenis Kelamin</option>
                                <option>Laki-Laki</option>
                                <option>Perempuan</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Experience">Work Experience :</label>
                        <div class="form-group">
                            <select class="form-control" id="Experience">
                                <option value="0">0 Tahun</option>
                                <option value="1">1 Tahun</option>
                                <option value="2">2 Tahun</option>
                                <option value="3">3 Tahun</option>
                                <option value="4">4 Tahun</option>
                                <option value="5">5 Tahun</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Education">Last Education :</label>
                        <div class="form-group">
                            <select class="form-control" id="LastEducation">
                                <option>SMA</option>
                                <option>D3</option>
                                <option>S1</option>
                                <option>S2</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DescriptionAddress">Description Address :</label>
                        <textarea class="form-control" id="Description" placeholder="e.g. Location, Floor, Interviewer"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="InterviewDate">Interview Date :</label>
                        <input type="date" class="form-control" id="InterviewDate">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="UpdateBtn" type="button" onclick="Edit()" class="btn btn-success">Update</button>
                    <button id="SaveBtn" type="button" onclick="Save()" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Script/Interview.js"></script>
}